body {
  font: 17.5px "Segoe UI";
  color:  #595959;
  padding: 100px;
  min-height: 1000px;
}

.delete_img {
  height: 15px;
  margin-right: 10px;
  margin-left: 10px;
  opacity: .5;
}

.delete_img, ul, .car_edit {
  display: inline;
  background-color: transparent;
}

#car_info {
  margin-left: 0px;
}

.movie_div {
  padding-top: 15px;
  padding-left: 0px;
}

.editLink {
  display: none;
  color: #23527c;
  font-size: 12px;
  margin-left: 10px;
}

span:hover > .editLink {
  display: inline;
}

#year_edit {
  width: 63px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: none;
  font-size: 17.5px;
  display: inline-block;
  background-color: transparent;
  border-left: 1px solid #e0e0e0;
  opacity: 0.8;
  padding-left: 10px;
  padding-right: 10px;
}

#make_edit  {
  width: 158px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: none;
  font-size: 17.5px;
  display: inline-block;
  background-color: transparent;
  border-left: 1px solid #e0e0e0;
  opacity: 0.8;
  padding-left: 10px;
  padding-right: 10px;
}

#color_edit {
  width: 126px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: none;
  font-size: 17.5px;
  display: inline-block;
  background-color: transparent;
  border-left: 1px solid #e0e0e0;
  opacity: 0.8;
  padding-left: 10px;
  padding-right: 10px;
}

#mileage_edit  {
  width: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: none;
  font-size: 17.5px;
  display: inline-block;
  background-color: transparent;
  border-left: 1px solid #e0e0e0;
  opacity: 0.8;
  padding-left: 10px;
  padding-right: 10px;
}

.button {
  text-align: center;
  color: #999999;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  background: transparent;
  font-size: 15px;
  border-radius: 10px;
  width: 100px;
  border: 1px solid #cccccc;
  margin-top: 20px;
}

.button:hover {
  background: #e3e3e3;
}

.car_edit > input:focus {
  outline: none;
  background-color: none;
  display: inline-block;
}

#update_submit {
  margin-left:10px;
  padding: 5px !important;
  width: 70px;
}

#car_count {
  text-align: center;
  width: 100%;
}

.title_input, .year_input, .genre_input, .rating_input, .actors_input, .search_input {
  font-size: 20px;
  height: 30px;
  text-decoration: none;
  border: 0;
  border-bottom: 1px solid #e6e6e6;
  color: #737373;
  outline: none;
  background-color: transparent;
  margin-bottom: 30px;
}

.search_input {
  margin-bottom: 10px;
}

.movie_input {
  margin-top: 25px;
  width: 300px;
}

#back_button {
  height: 50px;
  float: left;
  margin: 10px;
}

#car-div {
  display: inline-block;
}

#main {
  margin-top: 100px;
}

.item {
  padding-right: 5px;
  margin-top: 0px !important;
}
.poster {
  text-align: center;
  padding-top: 10px;
}
#no_data {
  color: #8e0000;
}

.database {
  width: 800px;
  min-height: 20px;
  padding: 15px 15px 3px 15px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

hr {
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-top: 25px !important;
  margin-bottom: 10px !important;
}

.thumbnail {
  width: 800px;
  padding: 10px;
  /*margin-left: 40px;*/
}

.movieListing {
  display: inline;
}

#banner_image {
  width: 770px;
}

.navbar-header {
  padding-left: 100px;
}

#rm_icon {
  width: 16px;
}

#emptyDatabaseView {
  text-align: center;
}

#emptyDatabaseView > p {
  opacity: 0.5;
  font-size: 16px;
}
